@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hidden {
  display: none;
}

.box {
  border: 1px solid #ed1c24;
  padding: 5px;
}

body {
  position: relative;
  width: 100%;
}

header,
.header {
  background-color: rgba(255, 255, 255, 0.6);
  height: 75px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
}

nav,
.nav {
  width: 100%;
}
nav li,
.nav li {
  padding: 0;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.logo img {
  width: auto;
}

section .title,
.section .title {
  padding: 30px 0 60px;
  text-align: center;
}
section .title span,
.section .title span {
  padding: 8px 0 12px;
}
section ul,
.section ul {
  padding-left: 4rem;
}
section ul li,
.section ul li {
  padding: 1.4rem;
}
section ul li:before,
.section ul li:before {
  content: "▪   ";
  color: #ed1c24;
}

img {
  width: 100%;
}

.head-img-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-img {
  margin: 1.5rem 0;
  position: relative;
  width: 75%;
}
.header-img img {
  vertical-align: top;
}
.header-img .content-wrapper {
  text-align: center;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.machine-container .machine {
  padding-bottom: 30px;
  width: 100%;
}
.machine-container .machine img {
  width: 80%;
}

.background {
  background-image: url("../../images/comp/banner_large.png");
  background-size: cover;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.banner-container {
  background-image: url("../../images/comp/banner_small.png");
  background-size: cover;
  height: 350px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.banner-container .texture-container {
  background-image: url("../../images/comp/texture.png");
  background-size: 2px 2px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0px;
  width: 100%;
}
.banner-container .hero-container {
  text-align: center;
  z-index: 1;
}
.banner-container.large {
  padding-top: 278px;
}
.banner-container.large .texture-container {
  top: 278px;
}

@media all and (min-width: 601px) {
  nav li,
  .nav li {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  nav li:last-child,
  .nav li:last-child {
    padding-right: 28px;
  }

  .header-img {
    width: 25%;
    margin: 0;
  }

  .banner-container {
    background-image: url("../../images/comp/banner_small.png");
    background-size: cover;
    height: 350px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .banner-container .texture-container {
    background-image: url("../../images/comp/texture.png");
    background-size: 2px 2px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  .banner-container .hero-container {
    text-align: center;
    z-index: 1;
  }
  .banner-container.large {
    height: 550px;
    padding-top: 75px;
  }
  .banner-container.large .texture-container {
    top: 75px;
  }

  .machine-container .machine {
    width: 33%;
    padding-bottom: 0;
  }
}
@font-face {
  font-family: Frutiger;
  src: url("../../fonts/Frutiger/FrutigerLTStd-Roman.otf");
}
@font-face {
  font-family: Frutiger;
  font-weight: bold;
  src: url("../../fonts/Frutiger/FrutigerLTStd-Bold.otf");
}
@font-face {
  font-family: Frutiger;
  font-weight: lighter;
  src: url("../../fonts/Frutiger/FrutigerLTStd-Light.otf");
}
html {
  font-size: 62.5%;
  /* Sets up the REM Base 10 Mixin */
}

body {
  font-family: Frutiger;
  font-size: 14px;
  font-size: 1.4rem;
  text-decoration: none;
}

h2 {
  color: #ed1c24;
  font-size: 30px;
  font-size: 3rem;
  margin-bottom: 1.4rem;
}

p {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

a {
  color: #ed1c24;
  text-decoration: none;
}

.content-wrapper {
  color: #fff;
  font-size: 24px;
  font-size: 2.4rem;
}

.title span {
  color: #ed1c24;
  display: inline-block;
  font-weight: bolder;
}

.hero-container {
  color: #ed1c24;
  padding: 0 2rem;
}

.banner-container.large h2 {
  font-size: 30px;
  font-size: 3rem;
  font-weight: bold;
}

@media all and (min-width: 601px) {
  p {
    padding: 0;
  }
}
nav ul {
  list-style: none;
  margin: 0;
}

nav ul a {
  text-decoration: none;
  display: block;
  color: #ed1c24;
}

@media all and (max-width: 600px) {
  nav ul a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  nav ul li:last-of-type a {
    border-bottom: none;
  }
}
body {
  /*  @include flexbox();
    flex-direction: column;*/
}

header,
.header,
footer,
.footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  padding: 0;
}

nav ul a {
  display: block;
}

.head-img-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
}

.banner-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.machine-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.machine-container .machine {
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1;
  justify-content: center;
}

.content-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.content-container content-list {
  flex: 1;
}
.content-container .img-wrapper {
  align-items: flex-end;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@media all and (min-width: 601px) {
  header,
  .header {
    flex-direction: row;
  }

  nav ul {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 0;
  }

  .head-img-wrapper {
    justify-content: center;
  }

  .machine-container {
    flex-direction: row;
  }
}
@media all and (min-width: 801px) {
  nav ul {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  .content-container {
    flex-direction: row;
  }
}
.header-img img {
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.header-img .content-wrapper {
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  background-color: rgba(237, 28, 36, 0.55);
}
.header-img:hover img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.header-img:hover .content-wrapper {
  opacity: 1;
}

.machine {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.machine:hover {
  flex: 2;
}

/*# sourceMappingURL=styles.css.map */
