body{ 
  position: relative;
  width: 100%;
}
header,
.header{
  background-color: rgba(255,255,255,.6);
  height: 75px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
}
nav,
.nav{
  width: 100%;
  li{
    padding: 0;
    padding-left: $reg-size;
    padding-right: $reg-size;
    
  }
}
.logo{
  img{
    width: auto
  }
}
section,
.section{
  .title{
    padding: 30px 0 60px;
    text-align: center;
    span{
      padding: 8px 0 12px;      
    }
  }
  ul{
    padding-left: 4rem;
    li{
      padding: 1.4rem;
      &:before{
      content: "▪   ";
      color: $red;
      }
    }
  }
}
img{
  width: 100%;
}

.head-img-wrapper{
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-img{
  margin: 1.5rem 0;
  position: relative;
  width: 75%;
  img{
    vertical-align: top;
  }
  .content-wrapper{
    text-align: center;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;    
  }
}
.machine-container{
  .machine{
    padding-bottom: 30px;
    width: 100%;
    
    img{
      width: 80%;
    }
  }
}
.background{
  background-image: url('../../images/comp/banner_large.png');
  background-size: cover;  
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.banner-container{
  background-image: url('../../images/comp/banner_small.png');
  background-size: cover;
  height: 350px;
  overflow: hidden;
  position: relative;
  width: 100%;
  .texture-container{
    background-image: url('../../images/comp/texture.png');
    background-size: 2px 2px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0px;
    width: 100%;
  }    
  .hero-container{
    text-align: center;
    z-index: 1;
  }  
  &.large{
    padding-top: 278px;
    .texture-container{
      top: 278px;
    }
  }  
}
.banner-container-large{

}

@media all and (min-width: 601px) {
  nav,
  .nav{
    li{
      padding-top: 28px;
      padding-bottom: 28px;   
      &:last-child{
        padding-right: 28px;
      }
    }
  }
  .header-img{
    width: 25%;
    margin: 0;
  }
  .banner-container{
    background-image: url('../../images/comp/banner_small.png');
    background-size: cover;
    height: 350px;
    overflow: hidden;
    position: relative;
    width: 100%;
    .texture-container{
      background-image: url('../../images/comp/texture.png');
      background-size: 2px 2px;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0px;
      width: 100%;
    }    
    .hero-container{
      text-align: center;
      z-index: 1;
    }  
    &.large{
      height: 550px;
      padding-top: 75px;
      .texture-container{
        top: 75px;
      }      
    }  
  }  
  .machine-container{
    .machine{
      width: 33%;
      padding-bottom: 0;
    }
  }
}
