body{
/*  @include flexbox();
  flex-direction: column;*/
}
header,
.header,
footer,
.footer{
  @include flexbox();
  flex-direction: column;
  justify-content: space-between;
}

nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  justify-content: space-around;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  padding: 0;  
}

nav ul a {
  display: block; 
}

.head-img-wrapper{  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;  
}
.banner-container{
    align-items: center;  
    display: flex;
    justify-content: center;  
  &.large{}
}


.content-wrapper{
    @include flexbox();
    flex-direction: column;
    justify-content: center;  
}
.machine-container{
  @include flexbox();
  flex-direction: column;
  .machine{
    align-items: center;    
    @include flexbox();
    flex: 1;
    justify-content: center;
  }
}

.content-container{
  @include flexbox();
  flex-direction: column;
  content-list{
    flex: 1;
  }
  .img-wrapper{
    align-items: flex-end;
    flex: 1;
    @include flexbox();    
  }
}




@media all and (min-width: 601px) {
  header,
  .header{
    flex-direction: row;
  }
  nav ul {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 0;
  }
  .head-img-wrapper{
    justify-content: center;      
  }
  .machine-container{
    flex-direction: row;
  }
}

@media all and (min-width: 801px) {
  nav ul {
    
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: flex-end;    
  }
  .content-container{
    flex-direction: row;
  }  
}
