.header-img{
  img{
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;    
  }
  .content-wrapper{
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    background-color: rgba(237,28,36, .55);
  }
  &:hover{
    img{
      -webkit-filter: blur(3px);
      filter: blur(3px);      
    }
    .content-wrapper{
      opacity: 1;
    }
  }
}
.machine{
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;   
    &:hover{
      flex: 2;
    }
}