
nav ul {
  list-style: none;
  margin: 0;
}

nav ul a {
  text-decoration: none;
  display: block;
  color: $red;
  
}

nav ul a:hover {}

@media all and (max-width: 600px) {
  nav ul a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  nav ul li:last-of-type a {
    border-bottom: none;
  }
}
