 @font-face { font-family: Frutiger; src: url('../../fonts/Frutiger/FrutigerLTStd-Roman.otf'); } 
 @font-face { font-family: Frutiger; font-weight: bold; src: url('../../fonts/Frutiger/FrutigerLTStd-Bold.otf'); }
 @font-face { font-family: Frutiger; font-weight: lighter; src: url('../../fonts/Frutiger/FrutigerLTStd-Light.otf'); }

 html{
  font-size: 62.5%; /* Sets up the REM Base 10 Mixin */   
 } 
 body{
  font-family: Frutiger;
  @include font-size(14);
  text-decoration: none;
  
 }

 h1{}
 h2{
   color: $red;
   @include font-size(30);
   margin-bottom: 1.4rem;
 }
 p{
   padding: 0 1rem;
   margin-bottom: 1rem;
 }
 a{
   color: $red;
   text-decoration: none;
 }
 .content-wrapper{
  color: #fff;
  @include font-size(24);
 }
 .title{
   $color: $red;
   span{
     color: $red;
     display: inline-block;
     font-weight: bolder;
   }
 }
 .hero-container{
   color: $red;
   padding: 0 2rem;
   h2{}
 }
 .banner-container{
   &.large{
     h2{
       @include font-size(30);
       font-weight: bold;
     }
   }
 }
 @media all and (min-width: 601px) {
   p{
     padding: 0;
   }
 }